doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="src/main.styl")
        title Stylus color generator
    body
        h1 Stylus color generator

        main
            each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                ul(class='_c' + val)
                    each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        li(class='c' + num)= val + '' + num

            h2 debug
            p.debug
