html {
    color: white
    background: black

    body {
        font-family: serif
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: calc(100vh - 20px)
    }

    h1 {
        text-align: center
    }

    a { color: crimson }

    ul {
        margin: 0
        padding: 0
        list-style: none

        &.colors {
            display: flex
            &:not(:last-child) {
                margin-bottom: -1rem
            }
        }

        &.colors li {
            width: 4rem
            height: @width
            line-height: @width
            text-align: center
            border-radius: 2.0rem
            box-shadow: 0 0 4px #0003

            &:not(:first-child) {
                margin: 0 0 0 -1rem
            }

            &[class] {
                c = #3334
                color: #eee
                background-color: #333
                text-shadow: \
                    -1px -1px 0 c, \
                     1px  1px 0 c, \
                     1px -1px 0 c, \
                    -1px  1px 0 c
                // color: transparent
                // text-shadow: none
            }
        }
    }
}
