doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./main.styl")
        title Stylus color generator
    body
        h1 Stylus color generator

        main
            - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
            - var base  = [0, 1, 2, 3, 4, 5]

            ul(class='colors fg')
                each tone in base
                    li(class='fg' + tone)= 'fg' + tone

            ul(class='colors bg')
                each tone in base
                    li(class='bg' + tone)= 'bg' + tone

            each color in array
                ul(class='colors v' + color)
                    each tone in array
                        li(class='v' + color + tone)= '' + color + tone

            // Enable debugging.
            - var debug = true

            if debug
                h2(style='padding-top: 1rem') Debug
                p.debug

                ul
                    each num in array
                        li(class='debug-' + num)
