html {
    color: white
    background: black

    body {
        font-family: serif
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: calc(100vh - 20px)
    }

    a { color: crimson }

    ul {
        margin: 0
        padding: 0
        display: flex
        list-style: none
        margin-bottom: -1rem


        li {
            width: 4rem
            height: @width
            line-height: @width
            text-align: center
            border-radius: 2.5rem
            box-shadow: 0 0 4px #0005

            &:not(:first-child) {
                margin: 0 0 0 -1rem
            }

            &[class] {
                c = #3334
                color: #eee
                background-color: #333
                text-shadow: \
                    -1px -1px 0 c, \
                     1px  1px 0 c, \
                     1px -1px 0 c, \
                    -1px  1px 0 c
                // color: transparent
                // text-shadow: none
            }
        }
    }
}

$dgb = ''

C = {
    c1: { hue: 000deg, }, //red
    c2: { hue: 030deg, }, //orange
    c3: { hue: 060deg, }, //yellow
    c4: { hue: 120deg, }, //green
    c5: { hue: 170deg, }, //cyan
    c6: { hue: 220deg, }, //blue
    c7: { hue: 270deg, }, //magenta
    c8: { hue: 320deg, }, //violet
    c9: { hue: 000deg, }, //gray
}

for c, i in C {
    $hue = C[c].hue
    $dbg = 'k: ' + c + ' ::: i: ' + i + ' ::: val: ' + $hue
    for num in 0..9 {
        $res = ''
        if (c != 'c9') {
            $res = hsl(C[c].hue, 100 - num * 2, (num + 2) * 8)
            // $res = tint($res, num * 2)
        } else {
            $res = hsl(C[c].hue, 0, (num + 2) * 7)
            // $res = shade($res, num * 2)
        }
        $dbg = '' + c + '-' + num + ' ::: ' + $res
        define('' + c + num, $res, g)
    }
}

for col in 0..9 {
    for color in (c0 c1 c2 c3 c4 c5 c6 c7 c8 c9) {
        for position in 0..9 {
            ul._{ color } .c{ position } {
                background: color + position
                //{ s('--%s-%s', color, position)}: color + position
            }
        }
    }
}

.debug::before {
    content: $dbg
}
